.img-cropped {
  object-fit: cover;
  object-position: center center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.username{
  margin: 0;
  font-weight: bold;
}