:root {
  /** primary **/
  --ion-color-primary: #8e44ad; /* ljubičasta */
  --ion-color-primary-rgb: 142, 68, 173;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7a379b;
  --ion-color-primary-tint: #9b59b6;
  --ion-background-color: #f7f7e8;
  /** secondary **/
  --ion-color-secondary: #e67e22; /* narandžasta */
  --ion-color-secondary-rgb: 230, 126, 34;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #cc6a1d;
  --ion-color-secondary-tint: #ea8534;

  /** tertiary **/
  --ion-color-tertiary: #3498db; /* plava */
  --ion-color-tertiary-rgb: 52, 152, 219;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #2e86c1;
  --ion-color-tertiary-tint: #5dade2;

  /** success **/
  --ion-color-success: #27ae60; /* zelena */
  --ion-color-success-rgb: 39, 174, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #229954;
  --ion-color-success-tint: #52be80;

  /** warning **/
  --ion-color-warning: #f39c12; /* žuta */
  --ion-color-warning-rgb: 243, 156, 18;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d68910;
  --ion-color-warning-tint: #f5b041;

  /** danger **/
  --ion-color-danger: #e74c3c; /* crvena */
  --ion-color-danger-rgb: 231, 76, 60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c0392b;
  --ion-color-danger-tint: #e74c3c;

  /** dark **/
  --ion-color-dark: #34495e; /* tamno siva/plava */
  --ion-color-dark-rgb: 52, 73, 94;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2c3e50;
  --ion-color-dark-tint: #5d6d7e;

  /** medium **/
  --ion-color-medium: #7f8c8d; /* siva */
  --ion-color-medium-rgb: 127, 140, 141;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #707b7c;
  --ion-color-medium-tint: #99a3a4;

  /** light **/
  --ion-color-light: #ecf0f1; /* svetlo siva */
  --ion-color-light-rgb: 236, 240, 241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d5dbdb;
  --ion-color-light-tint: #f2f4f4;
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-color-primary: #9b59b6;
    --ion-color-primary-rgb: 155, 89, 182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #8e44ad;
    --ion-color-primary-tint: #af7ac5;

    --ion-color-secondary: #f39c12;
    --ion-color-secondary-rgb: 243, 156, 18;
    --ion-color-secondary-contrast: #d7d7d7;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #d68910;
    --ion-color-secondary-tint: #f5b041;

    --ion-color-tertiary: #5dade2;
    --ion-color-tertiary-rgb: 93, 173, 226;
    --ion-color-tertiary-contrast: #acacac;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4a89d0;
    --ion-color-tertiary-tint: #74b9ff;

    --ion-color-success: #52be80;
    --ion-color-success-rgb: 82, 190, 128;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #27ae60;
    --ion-color-success-tint: #7dcea0;

    --ion-color-warning: #f1c40f;
    --ion-color-warning-rgb: 241, 196, 15;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #d4ac0d;
    --ion-color-warning-tint: #f4d03f;

    --ion-color-danger: #e74c3c;
    --ion-color-danger-rgb: 231, 76, 60;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c0392b;
    --ion-color-danger-tint: #e57373;

    --ion-color-dark: #1c1c1c;
    --ion-color-dark-rgb: 28, 28, 28;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1a1a1a;
    --ion-color-dark-tint: #222222;

    --ion-color-medium: #2e2e2e;
    --ion-color-medium-rgb: 46, 46, 46;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #262626;
    --ion-color-medium-tint: #383838;

    --ion-color-light: #f5f5f5;
    --ion-color-light-rgb: 245, 245, 245;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0e0e0;
    --ion-color-light-tint: #fafafa;
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
  }
  ion-content {
    color: var(--ion-text-color);
  }

  ion-label, ion-input, ion-button {
    color: var(--ion-text-color);
  }

  h2, p {
    color: var(--ion-text-color-light);
  }

  ion-card-title, ion-card-content, ion-card-header {
    color: var(--ion-text-color);
  }

  ion-item {
    --color: var(--ion-text-color);
  }
}
