:root {
  /** primary **/
  --ion-color-primary: #8e44ad; /* ljubičasta */
  --ion-color-primary-rgb: 142, 68, 173;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7a379b;
  --ion-color-primary-tint: #9b59b6;
  --ion-background-color: #f7f7e8;
  /** secondary **/
  --ion-color-secondary: #e67e22; /* narandžasta */
  --ion-color-secondary-rgb: 230, 126, 34;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #cc6a1d;
  --ion-color-secondary-tint: #ea8534;

  /** tertiary **/
  --ion-color-tertiary: #3498db; /* plava */
  --ion-color-tertiary-rgb: 52, 152, 219;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #2e86c1;
  --ion-color-tertiary-tint: #5dade2;

  /** success **/
  --ion-color-success: #27ae60; /* zelena */
  --ion-color-success-rgb: 39, 174, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #229954;
  --ion-color-success-tint: #52be80;

  /** warning **/
  --ion-color-warning: #f39c12; /* žuta */
  --ion-color-warning-rgb: 243, 156, 18;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d68910;
  --ion-color-warning-tint: #f5b041;

  /** danger **/
  --ion-color-danger: #e74c3c; /* crvena */
  --ion-color-danger-rgb: 231, 76, 60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c0392b;
  --ion-color-danger-tint: #e74c3c;

  /** dark **/
  --ion-color-dark: #34495e; /* tamno siva/plava */
  --ion-color-dark-rgb: 52, 73, 94;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2c3e50;
  --ion-color-dark-tint: #5d6d7e;

  /** medium **/
  --ion-color-medium: #7f8c8d; /* siva */
  --ion-color-medium-rgb: 127, 140, 141;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #707b7c;
  --ion-color-medium-tint: #99a3a4;

  /** light **/
  --ion-color-light: #ecf0f1; /* svetlo siva */
  --ion-color-light-rgb: 236, 240, 241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d5dbdb;
  --ion-color-light-tint: #f2f4f4;
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-color-primary: #8e44ad;
    --ion-color-primary-rgb: 142, 68, 173;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #7a379b;
    --ion-color-primary-tint: #9b59b6;

    --ion-color-secondary: #e67e22;
    --ion-color-secondary-rgb: 230, 126, 34;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #cc6a1d;
    --ion-color-secondary-tint: #ea8534;

    --ion-color-tertiary: #3498db;
    --ion-color-tertiary-rgb: 52, 152, 219;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #2e86c1;
    --ion-color-tertiary-tint: #5dade2;

    --ion-color-success: #27ae60;
    --ion-color-success-rgb: 39, 174, 96;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #229954;
    --ion-color-success-tint: #52be80;

    --ion-color-warning: #f39c12;
    --ion-color-warning-rgb: 243, 156, 18;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #d68910;
    --ion-color-warning-tint: #f5b041;

    --ion-color-danger: #e74c3c;
    --ion-color-danger-rgb: 231, 76, 60;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c0392b;
    --ion-color-danger-tint: #e74c3c;

    --ion-color-dark: #ecf0f1;
    --ion-color-dark-rgb: 236, 240, 241;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d5dbdb;
    --ion-color-dark-tint: #f2f4f4;

    --ion-color-medium: #7f8c8d;
    --ion-color-medium-rgb: 127, 140, 141;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #707b7c;
    --ion-color-medium-tint: #99a3a4;

    --ion-color-light: #2c3e50;
    --ion-color-light-rgb: 44, 62, 80;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #263238;
    --ion-color-light-tint: #3e515c;
    --ion-background-color: #2c2c2c;
  }
}
