
.custom-thumbnail {
  width: 100%;
  height: auto;
  --border-radius: 0;  /* Uklonite border-radius ako želite potpuno kvadratni oblik */
}

.custom-thumbnail ion-img {
  width: 100%;
  height: 100%;  /* Povećajte visinu slike */
  object-fit: cover;
}
