<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true" class="feed-grid">
    <ion-row *ngFor="let feed of feedsWithUsers" class="feed-item">
      <ion-col size="12" class="feed-content">
        <img [src]="feed.imageUrl" alt="{{ feed.title }}" class="feed-image" (click)="showDetails(feed.id)"/>
        <h2 class="feed-title">{{ feed.title }}</h2>
        <p class="feed-description">{{ feed.description }}</p>
        <img [src]="feed.profileUrl" alt="Profile Picture" class="profile-button-img" (click)="viewPosterProfile(feed.userId)"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
